In [1]:
import pandas as pd

In [5]:
ser = pd.Series(data=[100,'foo',300,'bar',500], index=['tom','bob','nancy','dan','eric'])

In [6]:
ser

tom      100
bob      foo
nancy    300
dan      bar
eric     500
dtype: object

In [10]:
ser['nancy']

300

In [14]:
ser.loc[['nancy', 'bob']]

nancy    300
bob      foo
dtype: object

In [12]:
# When accessing data frame with multiple requested
# indexes they must be in a list datatype
ser[[4, 3, 1]]

eric    500
dan     bar
bob     foo
dtype: object

In [15]:
ser.iloc[2]

300

In [17]:
ser.loc['bob']

'foo'

In [18]:
'bob' in ser

True

In [19]:
ser * 2

tom         200
bob      foofoo
nancy       600
dan      barbar
eric       1000
dtype: object

In [21]:
ser[['nancy','tom','eric']]**2

nancy     90000
tom       10000
eric     250000
dtype: object

In [22]:
ser

tom      100
bob      foo
nancy    300
dan      bar
eric     500
dtype: object

In [25]:
d = {'one': pd.Series([100.,200.,300.], index=['apple','ball','clock']),
        'two': pd.Series([111.,222.,333.,4444.], index =['apple','ball','cerill','dancy'])}

In [28]:
df = pd.DataFrame(d)
df

          one     two
apple   100.0   111.0
ball    200.0   222.0
cerill    NaN   333.0
clock   300.0     NaN
dancy     NaN  4444.0

In [29]:
print(df)

          one     two
apple   100.0   111.0
ball    200.0   222.0
cerill    NaN   333.0
clock   300.0     NaN
dancy     NaN  4444.0

In [30]:
df.index

Index(['apple', 'ball', 'cerill', 'clock', 'dancy'], dtype='object')

In [31]:
df.columns

Index(['one', 'two'], dtype='object')

In [34]:
pd.DataFrame(d, index=['dancy','ball','apple'], columns=['two','five'])

          two five
dancy  4444.0  NaN
ball    222.0  NaN
apple   111.0  NaN

In [35]:
data = [{'alex':1, 'joe':2},{'ema':5, 'dora': 10, 'alice':20}]

In [36]:
pd.DataFrame(data)

   alex  alice  dora  ema  joe
0   1.0    NaN   NaN  NaN  2.0
1   NaN   20.0  10.0  5.0  NaN

In [38]:
pd.DataFrame(data, index=['orange', 'red'])

        alex  alice  dora  ema  joe
orange   1.0    NaN   NaN  NaN  2.0
red      NaN   20.0  10.0  5.0  NaN

In [39]:
pd.DataFrame(data, columns=['joe','dora','alice'])

   joe  dora  alice
0  2.0   NaN    NaN
1  NaN  10.0   20.0

In [51]:
df

          one   flag
apple   100.0  False
ball    200.0  False
cerill    NaN  False
clock   300.0   True
dancy     NaN  False

In [41]:
df['one']

apple     100.0
ball      200.0
cerill      NaN
clock     300.0
dancy       NaN
Name: one, dtype: float64

In [45]:
df['three']=df['one']*df['two']
df

          one     two    three
apple   100.0   111.0  11100.0
ball    200.0   222.0  44400.0
cerill    NaN   333.0      NaN
clock   300.0     NaN      NaN
dancy     NaN  4444.0      NaN

In [47]:
df['flag'] = df['one'] > 250
df

          one     two    three   flag
apple   100.0   111.0  11100.0  False
ball    200.0   222.0  44400.0  False
cerill    NaN   333.0      NaN  False
clock   300.0     NaN      NaN   True
dancy     NaN  4444.0      NaN  False

In [50]:
three = df.pop('three')

KeyError: 'three'

In [53]:
!ls movielens/

Icon?