In [1]:
import pandas as pd

In [5]:
ser = pd.Series(data=[100,'foo',300,'bar',500], index=['tom','bob','nancy','dan','eric'])

In [6]:
ser

tom      100
bob      foo
nancy    300
dan      bar
eric     500
dtype: object

In [10]:
ser['nancy']

300

In [14]:
ser.loc[['nancy', 'bob']]

nancy    300
bob      foo
dtype: object

In [12]:
# When accessing data frame with multiple requested
# indexes they must be in a list datatype
ser[[4, 3, 1]]

eric    500
dan     bar
bob     foo
dtype: object

In [15]:
ser.iloc[2]

300

In [17]:
ser.loc['bob']

'foo'

In [18]:
'bob' in ser

True

In [19]:
ser * 2

tom         200
bob      foofoo
nancy       600
dan      barbar
eric       1000
dtype: object

In [21]:
ser[['nancy','tom','eric']]**2

nancy     90000
tom       10000
eric     250000
dtype: object